p { 

font-size: 36px;


}

.offset img {

left: -9999px;

}

.offset2 img {

left: -9999px;

}
#pizza-wrapper {   position:absolute;
     width:300px;
     height:315px;
     z-index:15;
     top:50%;
     left:50%;
     margin:-100px 0 0 -150px;
     background-image: url("crust-bkg.png");
		}
	
	img
{
position:absolute;
top: 0px;
left: 0px;
}
	
.cheese {
z-index: 300;
 width:300px;
 height:315px;
 top:50%;
 left:50%;
 margin: 0px 0 0 0px;
 background-image: url("cheese.png");
		}

.bacon {
 width:300px;
 height:315px;
 z-index: 1;
 top:50%;
 left:50%;
 margin: 0px 0 0 0px;
 background-image: url("bacon-bkg.png");
		}
		
		
.kanye {
z-index: 500;
width:300px;
height:315px;
top:50%;
left:50%;
margin: 0px 0 0 0px;
 background-image: url("kanye-bkg.png");
}

		
		
		